---
title: Presentations
layout: default
---

{% assign sorted_presentations = (site.presentations | sort: 'date_start' | reverse) %}

<ul class="presentation-list list-unstyled">
{% for presentation in sorted_presentations %}
  {% if presentation.date > site.time %}
  <li class="presentation"><span class="date">{{ presentation.date | date: "%Y-%m-%d" }}&nbsp;</span>&nbsp;{% if presentation.listing %}<a href="{{ presentation.listing }}">⇱ {% endif %}{{ presentation.title }}{% if presentation.listing %}</a>{% endif %}&nbsp;&nbsp;<small>{{ presentation.event }} ({{ presentation.location }})</small></li>
  {% endif %}
{% endfor %}
</ul>
<hr>
<ul class="presentation-list list-unstyled">
{% for presentation in sorted_presentations %}
  {% if presentation.date <= site.time %}
  <li class="presentation"><span class="date">{{ presentation.date | date: "%Y-%m-%d" }}&nbsp;</span>&nbsp;<a href="{{ presentation.url }}">{{ presentation.title }}</a>&nbsp;&nbsp;<small>{{ presentation.event }} ({{ presentation.location }})</small></li>
  {% endif %}
{% endfor %}
</ul>
