---
title: Presentations
layout: default
---

{% assign sorted_presentations = site.presentations | sort: 'date' | reverse %}
{% assign upcoming_presentations = sorted_presentations | where_exp:"presentation", "presentation.date > site.time" %}
{% assign past_presentations = sorted_presentations | where_exp:"presentation", "presentation.date <= site.time" %}

{% if upcoming_presentations.size > 0 %}
<p class="date-header">Upcoming</p>
<ul class="presentation-list list-unstyled">
{% for presentation in upcoming_presentations %}
  <li class="presentation">
    <span class="date">{{ presentation.date | date: "%Y-%m-%d" }}</span>
    {% if presentation.homepage %}<a href="{{ presentation.homepage }}">⇖ {% endif %}{{ presentation.title }}{% if presentation.homepage %}</a>{% endif %}
    <small>{{ presentation.event }} ({{ presentation.location }})</small>
  </li>
{% endfor %}
</ul>
<hr>
{% endif %}
<p class="date-header">Past</p>
<ul class="presentation-list list-unstyled">
{% for presentation in past_presentations %}
  <li class="presentation">
    <span class="date">{{ presentation.date | date: "%Y-%m-%d" }}</span>
    {% if presentation.nolink %}
    {{ presentation.title }}
    {% else %}
    <a href="{{ presentation.url }}">{{ presentation.title }}</a>
    {% endif %}
    <small>{{ presentation.event }} ({{ presentation.location }})</small>
  </li>
{% endfor %}
</ul>
