<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Jake Wharton</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700" type="text/css">
    <link rel="stylesheet" href="/static/app.css" type="text/css">
    {% feed_meta %}
    <meta name="theme-color" content="#111111">

    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:description" content="Blog posts, presentations, GitHub, and more.">
    <meta name="og:site_name" content="Jake Wharton">
    <meta name="og:url" content="{{ site.url }}">
    <meta name="og:image" content="http://www.gravatar.com/avatar/e68309f117985270285ade8082f4877d?s=200">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@JakeWharton">
    <meta name="twitter:domain" content="jakewharton.com">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="Blog posts, presentations, GitHub, and more.">
    <meta name="twitter:image" content="http://www.gravatar.com/avatar/e68309f117985270285ade8082f4877d?s=200">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:label1" content="Posts">
    <meta name="twitter:data1" content="{{ site.posts | size }}">
    <meta name="twitter:label2" content="Presentations">
    <meta name="twitter:data2" content="{{ site.presentations | size }}">
  </head>
  <body>
    <header>
      <h1><a href="/">Jake Wharton</a></h1>
    </header>

    <div class="content">
      {{ content }}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3637749-19', 'jakewharton.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
