<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Jake Wharton</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700" type="text/css">
    <link rel="stylesheet" href="/static/app.css" type="text/css">
    <link rel="stylesheet" href="/static/syntax.css" type="text/css">
    {% feed_meta %}
    <meta name="theme-color" content="#111111">
  </head>
  <body>
    <header>
      <h1><a href="/">Jake Wharton</a></h1>
    </header>

    <div class="content presentation">
      <h2>{{ page.title }}</h2>
      <p class="date">{{ page.date | date:"%d %B %Y" }} &ndash; {% if page.homepage %}<a href="{{ page.homepage }}">{% endif %}{{ page.event }} ({{ page.location }}){% if page.homepage %}</a>{% endif %}</p>

      <section class="description">
        {{ content }}
      </section>

      {% if page.youtube %}
      <section class="youtube">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
      </section>
      {% endif %}
      {% if page.parleys %}
      <section class="parleys">
      <div data-parleys-presentation="{{ page.parleys }}" style="width:100%;height:300px">
      <script async type="text/javascript" src="https://parleys.com/js/parleys-share.js"></script>
      </div>
      </section>
      {% endif %}
      {% if page.vimeo %}
      <section class="vimeo">
        <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </section>
      {% endif %}
      {% if page.speakerdeck %}
      <section class="speakerdeck">
      <script async class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" data-ratio="1.77777777777778" src="https://speakerdeck.com/assets/embed.js"></script>
      </section>
      {% endif %}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3637749-19', 'jakewharton.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
