---
layout: default
tab: projects
---

<header>
	<h1>{{ page.title }}</h1>
	<p>{{ content }}</p>
	<div><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ page.owner }}&repo={{ page.repo }}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" height="20px" width="110px"></iframe><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ page.owner }}&repo={{ page.repo }}&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" height="20px" width="110px"></iframe></div>
</header>

<section>
	<div class="row">
		<div class="span5">
			<h6>Issues</h6>
			<dl data-bind="visible: issues().length > 0">
				<!-- ko foreach: issues -->
				<dt><a data-bind="attr: { href: html_url }, text: '#'+number"></a> &ndash; <span data-bind="text: title"></span></dt>
				<!-- ko if: labels -->
				<dd>
					<!-- ko foreach: labels -->
					<span class="label" data-bind="text: name"></span>
					<!-- /ko -->
				</dd>
				<!-- /ko -->
				<!-- /ko -->
			</dl>
			<p data-bind="visible: issues().length == 0">No issues</p>
		</div>
		<div class="span3 offset1">
			<h6>Contributors</h6>
			<ul class="unstyled contributors" data-bind="foreach: contributors">
				<li><a data-bind="attr: { href: $root.userAction(login) }">
					<img data-bind="attr: { src: avatar_url }" width="20px"> <span data-bind="text: login"></span></a> <span class="label" data-bind="text: contributions"></span>
				</li>
			</ul>
		</div>
		<div class="span3">
			<h6>Latest Tags</h6>
			<ul class="unstyled tags" data-bind="foreach: tags, visible: tags().length > 0">
				<li><span data-bind="text: name"></span> &mdash; <a data-bind="attr: { href: zipball_url }">Zip</a> &middot; <a data-bind="attr: { href: tarball_url }">Tarball</a></li>
			</ul>
			<p data-bind="visible: tags().length == 0">No tags</p>
		</div>
	</div>
</section>

<script type="text/javascript" src="/static/knockout-2.0.0.js"></script>
<script type="text/javascript">
	$(function() {
		function ViewModel() {
			var self = this;

			self.info = ko.observable();
			self.tags = ko.observableArray();
			self.issues = ko.observableArray();
			self.contributors = ko.observableArray();

			self.userAction = function(username) {
				return 'http://github.com/' + username;
			};

			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}?callback=?', function(response) {
				self.info(response.data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/tags?callback=?', function(response) {
				var data = response.data;

				//Sort alphabetically
				data.sort(function(o1, o2) {
					return (o1.name > o2.name) ? -1 : 1;
				});
				self.tags(data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/contributors?callback=?', function(response) {
				var data = response.data;

				//Sort by contributions
				data.sort(function(o1, o2) {
					return o2.contributions - o1.contributions;
				});
				self.contributors(data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/issues?callback=?', function(response) {
				var data = response.data;

				//Sort by contributions
				data.sort(function(o1, o2) {
					return o2.number - o1.number;
				});
				self.issues(data);
			});
		}
		ko.applyBindings(new ViewModel());
	});
</script>